services/* @raphckrman
database/* @raphckrman
stores/* @raphckrman

.github/* @ryzenixx

utils/magic/* @tryon-dev

ui/* @ecnivtwelve
app/* @ecnivtwelve
components/* @ecnivtwelve
utils/* @ecnivtwelve

ui/components/Pattern/* @godetremy
