src/components/* @ecnivtwelve
src/views/welcome/* @ecnivtwelve
src/utils/grades/* @ecnivtwelve
src/utils/format/* @ecnivtwelve

src/views/account/Restaurant/* @tryon-dev
src/utils/magic/* @tryon-dev
src/views/settings/* @tryon-dev

src/stores/* @Vexcited
src/services/* @Vexcited

src/addons/* @godetremy
src/views/account/Home/* @godetremy
src/utils/files/* @godetremy

.github/* @yannouuuu
