<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Papillon</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>Green</string>
        </array>
        <key>UIPrerenderedIcon</key>
        <false/>
      </dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>AppIcon-CircleGreen</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>CircleGreen</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-RaysGreen</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>RaysGreen</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-GradientGreen</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>GradientGreen</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-StrokeGreen</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>StrokeGreen</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-CuttedGreen</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>CuttedGreen</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-FlatGreen</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>FlatGreen</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-3dGreen</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>3dGreen</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-CirclePink</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>CirclePink</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-RaysPink</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>RaysPink</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-GradientPink</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>GradientPink</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-StrokePink</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>StrokePink</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-CuttedPink</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>CuttedPink</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-FlatPink</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>FlatPink</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-Pink</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>Pink</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-3dPink</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>3dPink</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-CircleBlue</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>CircleBlue</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-RaysBlue</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>RaysBlue</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-GradientBlue</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>GradientBlue</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-StrokeBlue</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>StrokeBlue</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-CuttedBlue</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>CuttedBlue</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-FlatBlue</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>FlatBlue</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-Blue</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>Blue</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-3dBlue</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>3dBlue</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-CircleYellow</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>CircleYellow</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-RaysYellow</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>RaysYellow</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-GradientYellow</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>GradientYellow</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-StrokeYellow</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>StrokeYellow</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-CuttedYellow</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>CuttedYellow</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-FlatYellow</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>FlatYellow</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-Yellow</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>Yellow</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-3dYellow</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>3dYellow</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-CirclePurple</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>CirclePurple</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-RaysPurple</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>RaysPurple</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-GradientPurple</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>GradientPurple</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-StrokePurple</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>StrokePurple</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-CuttedPurple</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>CuttedPurple</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-FlatPurple</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>FlatPurple</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-Purple</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>Purple</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-3dPurple</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>3dPurple</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-CircleBlack</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>CircleBlack</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-RaysBlack</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>RaysBlack</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-GradientBlack</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>GradientBlack</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-StrokeBlack</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>StrokeBlack</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-CuttedBlack</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>CuttedBlack</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-FlatBlack</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>FlatBlack</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-Black</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>Black</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>AppIcon-3dBlack</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>3dBlack</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
      </dict>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>8.0.2</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>papillon</string>
          <string>izly</string>
          <string>skoapp-prod</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+papillon</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <false/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your camera</string>
    <key>NSFaceIDUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your Face ID biometric data.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your location</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your location</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Papillon utilise ton emplacement pour trouver les établissements autour de toi.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your microphone</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Papillon utilise ta galerie pour te permettre de personnaliser ta photo de profil</string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>$(PRODUCT_BUNDLE_IDENTIFIER).expo.index_route</string>
    </array>
    <key>RCTNewArchEnabled</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Automatic</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>